@charset "UTF-8";
@font-face {
  font-family: "Noto Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
* {
  font-family: "Noto Sans", sans-serif;
  font-size: 1em;
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fffff7;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
a:hover {
  color: #3aa1f0;
}

body {
  background-color: #14181c;
  color: #fffff7;
}

.wrapper-main-aside-footer {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .wrapper-main-aside-footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "as mn mn mn mn mn" ". mn mn mn mn mn" "ft ft ft ft ft ft";
  }
}
/* Estilos para Header */
header {
  text-align: center;
  background-color: #20252b;
  border: 1px solid #444b57;
}
header img {
  max-height: 40px;
}
header .nav-link {
  color: #fffff7;
}
header .brand-corto {
  display: inline;
}
header .brand-largo {
  display: none;
}

.navbar-nav {
  margin: auto;
  gap: 2.5em;
}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
  color: #3aa1f0;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #3aa1f0;
}

@media screen and (min-width: 768px) {
  header .brand-corto {
    display: none;
  }
  header .brand-largo {
    display: inline;
  }
}
/* Estilos para Main */
main {
  max-width: 1024px;
  margin: 1em auto;
  border: 1px solid #444b57;
  padding: 1em;
}
main > h1 {
  text-align: center;
}
main p {
  padding: 1em;
  text-align: left;
  margin: auto;
}
main .portada-main {
  margin: 0 -1em;
  width: calc(100% + 2em);
  max-width: 1024px;
}

@media screen and (min-width: 1200px) {
  main {
    margin: 2em auto;
    padding: 2em;
    grid-area: mn;
  }
  main .portada-main {
    margin: 0 -2em;
    width: calc(100% + 4em);
  }
}
/* Estilos para Aside */
aside {
  margin: 3em 0 0 0;
  color: #fffff7;
  background-color: #14181c;
  padding: 1em;
  border: 1px solid #444b57;
  border-radius: 5px;
}
aside article {
  padding: 1em;
}
aside article h3 {
  font-size: 1.1em;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  aside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
  aside h2 {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 1200px) {
  aside {
    grid-area: as;
    margin: 2em 0 0 0;
    display: flex;
    flex-direction: column;
  }
}
/* Estilos para Footer */
footer {
  min-height: 1em;
  text-align: center;
  color: #fffff7;
  border: 1px solid #444b57;
}
footer p {
  vertical-align: auto;
  margin: 1em;
}

@media screen and (min-width: 1200px) {
  footer {
    grid-area: ft;
    margin: 3em 0 0 0;
  }
}
/* Estilos Index */
/* Estilos guía */
.tabla-contenidos {
  border: 1px solid #444b57;
  margin: 1em 0;
  max-width: 25em;
  text-align: left;
}
.tabla-contenidos .lista-contenidos {
  margin: 0;
  padding: 0;
  list-style: none;
}

.seccion-guias {
  padding: 1em 0;
  margin: 0 auto;
}

.pregunta {
  font-weight: bold;
  padding-bottom: 0;
}

.respuesta {
  font-style: italic;
  padding-top: 0;
}
.respuesta ul {
  font-style: italic;
}

/* Estilos blog */
.container-blog-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  max-width: 80em;
}

article.blog-card {
  border: 1px solid #444b57;
  padding: 0 0 1em 0;
  margin: auto;
  max-width: 500px;
  overflow: hidden;
}
article.blog-card img {
  margin: 0 0 1.5em 0;
  padding: 0;
  max-width: 100%;
}
article.blog-card h2 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0 1em;
}
article.blog-card p.extracto {
  padding: 1em;
  font-style: italic;
}
article.blog-card ul.entry-meta {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding: 0 1em;
  gap: 1em;
}
article.blog-card ul.entry-meta .tag {
  background-color: #3aa1f0;
  padding: 0 0.5em;
  border-radius: 5px;
}
article.blog-card ul.entry-meta .autor:before {
  content: "🖋️";
}
article.blog-card ul.entry-meta .fecha::before {
  content: "🗓️";
}

.blog-header {
  display: grid;
  grid-template-columns: 2;
  grid-auto-rows: 3;
  grid-template-areas: "hd hd hd hd" "bn bn bn bn" "au au fe fe";
}
.blog-header h1 {
  grid-area: hd;
}
.blog-header img {
  grid-area: bn;
}
.blog-header p.autor {
  grid-area: au;
  margin-left: 0;
}
.blog-header p.fecha {
  grid-area: fe;
  margin-right: 0;
}

.mantener {
  color: #008000;
}

.tal-vez {
  color: #ffff00;
}

.vial {
  color: #ff0000;
}

/* Estilos Comunidad */

/*# sourceMappingURL=style.css.map */
