/* Estilos para Header */

header {
  text-align: center;
  background-color: $secondary-color;
  @include border-style;

  .navbar-brand {
    img {
      max-height: 40px;
      margin: 0 1em 0 1em;
    }

    .brand-corto {
      display:inline;
    }
  
    .brand-largo {
      display: none;
    }
  }

  .nav-link {
    color: $main-text-color;
  }

}

.navbar-nav {
  margin: auto;
  gap: 2.5em;
  
  .nav-link {
    &:hover, &:focus {
      color: $highlight-color;
    }
  }

  .nav-link.active, .nav-link.show {
    color: $highlight-color; 
  }
}


// Estilo para tablet

@media screen and (min-width: 768px) {
  header {
    .navbar-brand {
      .brand-corto {
        display:none;
      }
      .brand-largo {
        display: inline;
      }
    }
  }
}
