/* Estilos para Header */

header {
  text-align: center;
  background-color: $secondary-color;
  @include border-style;

  img {
    max-height: 40px;
  }

  .nav-link {
    color: $main-text-color;
  }

  .brand-corto {
    display:inline;
  }

  .brand-largo {
    display: none;
  }
}

.navbar-nav {
  margin: auto;
  gap: 2.5em;
  
  .nav-link {
    &:hover, &:focus {
      color: $highlight-color;
    }
  }

  .nav-link.active, .nav-link.show {
    color: $highlight-color; 
  }
}


// Estilo para tablet

@media screen and (min-width: 768px) {
  header {
    .brand-corto {
      display:none;
    }
    .brand-largo {
      display: inline;
    }
  }
}
